################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlueGreenDeployment/obj
/BlueGreenDeployment/bin/Debug/net7.0
